.image-uploader {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    box-sizing: border-box;

    width: calc(100% - 4px);

    padding: 40px;

    border-radius: 10px;

    background-color: #c57bff08;

    color: #000;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;

    cursor: pointer;

    overflow: visible;
}

.image-uploader[data-is-uploaded='true'] {
    flex-direction: row;

    padding: 16px 40px;
}

.image-uploader::before,
.image-uploader.dragging::before {
    position: absolute;

    z-index: -1;

    width: 100%;
    height: 100%;

    border: 2px dashed #fff;

    border-radius: 10px;

    background: #bbbbd0;

    transition: all 0.2s ease;

    inset: -2px;
    content: '';

    background-clip: border-box;
}

.image-uploader::after {
    content: '';

    position: absolute;
    inset: -1px;

    z-index: -1;

    border-radius: 10px;

    background: #fff;
}

.image-uploader:hover::before,
.image-uploader.dragging::before {
    background: linear-gradient(132deg, #ff47d0 4%, #ff822c);
}

.image-uploader input {
    display: none;
}

.image-uploader-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-uploader-uploaded-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    border-radius: 9999px;

    background: linear-gradient(132deg, #ff47d0 4%, #ff822c);

    color: #fff;
}

.image-uploader-text {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.image-uploader-btn {
    padding: 11px 35px;
}
