.tab-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 100%;

    border-bottom: 1px solid #e0e0e0;
}

.tab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 12px;

    border: none;
    border-bottom: 2px solid transparent;

    background-color: transparent;

    color: #080a10;
    font-size: 14px;
    font-weight: 600;

    transition: all 0.2s ease;

    opacity: 0.5;

    cursor: pointer;
}

.tab-button[data-active='true'] {
    opacity: 1;
}

.tab-container::after {
    position: absolute;
    bottom: 0;
    left: var(--active-tab-offset-left);

    width: var(--active-tab-width);

    height: 4px;

    border-radius: 2px;

    background: transparent;
    content: '';

    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.tab-container:has(.tab-button[data-active='true'])::after {
    /* border-bottom: 2px solid #080a10; */
    background: linear-gradient(132deg, #ff47d0 4%, #ff822c);
}
