.canvas-desk {
    position: relative;

    display: flex;
    flex-direction: column;

    box-sizing: content-box;

    width: 100%;
    height: 100%;

    /* cursor: none; */
    overflow: hidden;
}

.canvas-container {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.canvas-container canvas {
    width: 100%;
    height: 100%;

    transform-origin: center center;
}

.brush-pointer {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 99;

    box-sizing: border-box;

    border-radius: 50%;

    opacity: 0.5;

    pointer-events: none;
}
