.images-history-list-container {
    width: 100%;
    height: 100%;

    /* padding: 16px; */

    overflow-y: hidden;
}

.images-history-list {
    column-count: 3; /* 几列 */
    column-gap: 16px;

    margin: 16px;
}

.images-history-list-item {
    margin-bottom: 16px;

    border-radius: 8px;

    break-inside: avoid;

    transition: all 0.3s ease;
}

.images-history-list-item:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 20%);

    transform: scale(1.01);
}

.images-history-list-item-image {
    display: block;

    width: 100%;
    height: auto;

    border-radius: 4px;

    cursor: pointer;
}
